body {
    background-color: blanchedalmond
}

.page{
    width: 780px;
margin: auto;
    font-family: Arial;
        font-size: 16px;
        background-color: #fff8e2
               
}
.infophoto{
    height: 250px;

}
.info{
float: left;

}

img {
    width: 15%;
    height: 30%;                          
    position: absolute;
    bottom: 60;
   left: 60%;
} 


.titre{
    font-weight: bold;
    font-size: 15px;
}


h2{
    font-size: 28px;
    color: burlywood ;
    border-bottom: 3px solid; 
}